/* for all  */

*{
    font-family: "Mulish", sans-serif;
    margin: 0px;    
}

.orange-color{
    color: #FF5400;
}


/* header section */


/* nav section */
.nav-container{
    display: flex;
    margin: 0px 135px;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.nav-title{
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
 }

.img-title{
    display: flex;
    gap: 15px;
}

.nav-links{
    display: flex;
}

.nav-links>ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-list>li{
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


/* banner section */

.banner-container{
    margin: 0px 135px;
    margin-top: 49px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) ,url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-color: #FF5400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    background-size: cover;
}

.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
    text-align: center;
}

.banner-description{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    max-width: 676px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banner-input{
    display: flex;
    gap: 18px;
    margin-bottom: 106px;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 15px;
    border-radius: 8px;
}

.banner-input-feild{
    max-width: 160px;
    background-color: #FFF;
    border-radius: 8px;
    display: flex;
    gap: 60px;
    padding: 16px 15px 16px 16px;

    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
}

.banner-where-feild{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    max-width: 160px;
    padding: 16px 70px 16px 16px;
    background-color: #FFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.banner-find-feild{
    background-color: #FFF;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    max-width: 160px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 16px 35px;
    gap: 8px;
    background-color: #FF5400;
    color: #FFF;
}

.header{
    margin-bottom: 100px;
}








/* section popular tours */
.populartours-container{
    margin: 0px 135px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 100px;
}

.populartours-content{
    max-width: 577px;
}


.populartours-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}


.text1, .text2, .text3{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}

.text1{
    margin-bottom: 24px;
}

.text2>li{
   margin-bottom: 16px;
}

.text3{
    margin-top: 24px;
    margin-bottom: 24px;
}



/* img */

.populartours-img{
    display: flex;
    max-width: 544px;
    background-image: url("/Images/Rectangle\ 4.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding-top: 10px;
  }

.primary-button{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 34px;
    border-radius: 8px;
    background-color: #FF5400;
    border: 0;
}







/* destination section */
.destination-container{
    margin: 0px 135px;
   margin-bottom: 100px;
}


.destination-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.destination-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.destination-img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}

.destination-img-container  img{
    width: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

 .grid-item1{
    grid-column: 1/span 6;
}

.grid-item2{
    grid-column: 7/span 6;
}

.grid-item3{
    grid-column: 1/span 4;
}

.grid-item4{
    grid-column: 5/span 5;
}

.grid-item5{
    grid-column: 10/span 3;
}

.grid-item6{
    grid-column: -13/ span 5;
}

.grid-item7{
    grid-column: -8/span 7;
} 








/* why choose us section */

.choose-container{
    margin: 0px 135px;
   margin-bottom: 100px;
}

.choose-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.choose-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}



.choose-card-title{
     margin-top: 32px;
     margin-bottom: 16px;
     color: #131318;
    font-size: 24px;
    font-weight: 800;
}


.choose-card-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 24px;
}

.choose-card-description{
     margin-top: 16px;
     color: #5A5A5D;
     font-size: 16px;
     font-weight: 400;
     line-height: 26px; 
}


.card-item1, .card-item3{
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-item2{
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-item1{
   grid-column: 1/span 6;
}

.card-item3{
    grid-column: -10/span 6;
}

.card-item2{
    grid-column: 7/span 6;
}






/* deals section starts */

/* big box */
.deals-container{
    margin: 0 135px;
    margin-bottom: 100px;
}

.deals-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.deals-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 48px;
}

.bigbox{
    margin-bottom: 48px;
}

.dealsbutton{
    text-align: center;
}





/* medium box */

.mediumbox-1, .mediumbox-2, .mediumbox-3{
    background-color: aqua;
    max-width: 1190px;
}

.mediumbox-1, .mediumbox-3{
    margin-bottom: 24px;
    display: flex;
    padding-top: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
    flex-direction: row-reverse;
    background-image: url("/Images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mediumbox-2{
    margin-bottom: 24px;
    display: flex;
    padding-top: 55px;
    padding-left: 55px;
    padding-bottom: 55px;
    background-image: url("/Images/Group\ 40.png");
    background-repeat: no-repeat;
    background-size: cover;
}











/* smallbox */

.smallbox{
    max-width: 580px;
    padding: 50px 70px 50px 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.smallbox-icons{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    color: #5A5A5D;
   font-size: 16px;
   font-weight: 400;

}

.smallbox-title{
    margin-bottom: 16px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.smallbox-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.smallbox-price{
    color: #FF5400;
   font-size: 20px;
   font-weight: 800;
   margin-bottom: 24px;
}






/* section perfect place */

.perfectplace{
    margin: 0px 135px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 50px;

}

.perfectplace-content{
    max-width: 532px;
}

/* pp-content */

.pp-content-title{
    color: #131318; 
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 24px;
}

.pp-content-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.pp-content-list{
    color: #131318;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 32px;
}

.pp-content-list li{
    margin-bottom: 16px;
}


/* 
image */



.perfectplace-img{
    /* max-width: 610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-image: url("/Images/Group\ 40089.png");
    background-size: cover;
    max-width: 610px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(5,1fr);

}


.pp-image-title{
    /* color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700; */
    /* padding-left: 150px;
    padding-right: 150px; */
    grid-column: 4/span 6;
    grid-row: 3;
    text-align: center;
    font-weight: 700;
    color: #FFF;
    font-size: 24px;
    align-items: center;
}

.pp-image-bottom{
    /* display: flex;
    justify-content: space-evenly;
    color: var(--Dark-07, #F3F3F3);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400; */
    

}



.pp-image-bottom-left{
    grid-column: -13/span 2;
    grid-row: 5;
    color: var(--Dark-07, #F3F3F3);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.pp-image-bottom-right{
    color: var(--Dark-07, #F3F3F3);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    grid-column: -3/span 2;
    grid-row: 5;
}

.pp-line{
    grid-column: -13/span 13;
    height: 8px;
    grid-row: 5;

    padding-right: 190px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    border-bottom: none;
    margin-left: 20px;
    margin-right: 20px;
}






/* <!-- newsletter section starts --> */











